:root {
  --color-white: #FFFFFF;
  --color-black: #252525;
  --color-gray-lgt: #bfbfbf;
  --color-button: #09adc6;
  --color-button-hover: #1a9eb3;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);

  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  max-width: 460px;
  padding: 2rem 3rem;
  margin: 2rem auto;
  border-radius: 0.75rem;
  box-shadow: 0 0 1rem var(--color-gray-lgt);;
}

main h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

button:disabled {
  opacity: 0.6;
}

input {
  height: 2.6rem;
}

button {
  margin-top: auto;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: var(--color-button);
  border-radius: 50vh;
  border: none;
  color: var(--color-white);
  text-transform: uppercase;
  width: 100%;
  transition: all .2s ease-in-out;
}

button:not(:disabled) {
  cursor: pointer;
}

button:not(:disabled):hover {
  background-color: var(--color-button-hover);
}

main > *:first-child {
  margin-top: 0;
}

/* Helper classes */
.hide {
  display: none;
}
